<!-- templates/accounts/access_history.html -->
{% extends "base.html" %}
{% load static %}
{% block title %} Histórico de Acessos{% endblock %}
{% block 'head' %}
<link href="{% static 'tailwind.min.css' %}" rel="stylesheet">
<link href="{% static 'flowbite.min.css' %}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet">
{% endblock 'head' %}
{% block 'body' %}

<body>
    <div class="container mx-auto p-4 mt-8" id="cad_efetivo">
        <fieldset class="bg-gray-800 p-4 mb-8 rounded-md">
            <div id="01" class="mb-4">
                <div class="bg-gray-800 p-4 rounded-md">
                    <div class="flex flex-wrap items-center justify-between py-3">
                        <div class="col-12 md:w-auto">
                            <h3 class="text-2xl font-semibold text-gray-300">Histórico de Acessos</h3>
                        </div>  
                        <div class="w-full md:w-auto text-right">
                            <a href="{% url 'user_detail' user.pk %}" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Voltar</a>
                        </div>
                    </div>
                </div>
                <legend>
                    {% if messages %}
                    {% for message in messages %}
                        <section class="alert {{ message.tags }} p-4 mb-4 rounded-md">
                            {{ message }}
                        </section>
                    {% endfor %}
                    {% endif %}
                </legend>
            </div>
        </fieldset>

     
            <fieldset class="w-full bg-gray-200 p-4 rounded-lg">
                <div class="row">
                    <div class="col-12">
                    </div>  
                    <div class="container mx-auto" id="table">
                        <div class="overflow-x-auto">
                            <table id="table1" class="min-w-full bg-white border border-gray-200">
                                <thead>
                                    <tr>
                                        <th class="px-4 text-gray-700 py-2">Status</th>
                                        <th class="px-4 text-gray-700 py-2">Data de Login</th>
                                        <th class="px-4 text-gray-700 py-2">IP</th>
                                        <th class="px-4 text-gray-700 py-2">Nome do PC</th>
                                        <th class="px-4 text-gray-700 py-2">Data de Logout</th>
                                        <th class="px-4 text-gray-700 py-2">Duração</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entry in login_history %}
                                    <tr>
                                        <td class="border text-gray-700 px-4 py-2">
                                            {% if entry.logout_time is None %}
                                            <span class="inline-block w-3 h-3 bg-green-500 rounded-full"></span>
                                            {% else %}
                                            <span class="inline-block w-3 h-3 bg-red-500 rounded-full"></span>
                                            {% endif %}
                                        </td>
                                        <td class="border text-gray-700 px-4 py-2">{{ entry.login_time }}</td>
                                        <td class="border text-gray-700 px-4 py-2">{{ entry.ip }}</td>
                                        <td class="border text-gray-700 px-4 py-2">{{ entry.computer_name }}</td>
                                        <td class="border text-gray-700 px-4 py-2">{{ entry.logout_time }}</td>
                                        <td class="border text-gray-700 px-4 py-2">{{ entry.duration }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </fieldset>
        
    </div>
</body>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
<script>
    const dataTable = new simpleDatatables.DataTable("#example");
</script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dataTable1 = new simpleDatatables.DataTable("#table1", {
            labels: {
                placeholder: "Pesquisar...",
                perPage: "{select} resultados por página",
                noRows: "Nenhum registro encontrado",
                info: "Mostrando {start} até {end} de {rows} registros",
                noResults: "Nenhum resultado encontrado",
                loading: "Carregando...",
                infoFiltered: " (filtrado de {rowsTotal} registros)",
                previous: "Anterior",
                next: "Próximo",
                first: "Primeiro",
                last: "Último"
            }
        });
        const dataTable2 = new simpleDatatables.DataTable("#table2", {
            labels: {
                placeholder: "Pesquisar...",
                perPage: "{select} resultados por página",
                noRows: "Nenhum registro encontrado",
                info: "Mostrando {start} até {end} de {rows} registros",
                noResults: "Nenhum resultado encontrado",
                loading: "Carregando...",
                infoFiltered: " (filtrado de {rowsTotal} registros)",
                previous: "Anterior",
                next: "Próximo",
                first: "Primeiro",
                last: "Último"
            }
        });
    });
</script>

<script>
    const targetEl = document.getElementById('delete-user-modal')
    const modal = new Modal(targetEl)

    openModal = () => {
      modal.show()
    }
    closeModal = () => {
      modal.hide()
    }
</script>
{% endblock js %}