{% extends "base.html" %}
{% load static %}
{% block title %} Consultar Efetivo{% endblock %}
{% block 'head' %}

<link rel="stylesheet" href="{% static 'efetivo\css\ver_militar.css' %}">


{% endblock 'head' %}

{% block 'body' %}


<body>

    <br>
    <div class=" md:items-center md:justify-between rounded-lg mt-4 w-full" id="cad_efetivo">
     <fieldset class=" p-4 mb-8   rounded-md w-full" id="second-fieldset">
        <fieldset class=" p-2 mb-8 rounded-md w-full" id="first-fieldset">
                 
               <div class="flex flex-col h-auto rounded-[10px]">
                <div class=" bg-gray-800 rounded-xl shadow-2xl  w-full p-8 transition-all duration-300 animate-fade-in">
                    <div class="flex flex-col md:flex-row">
                        <div class="md:w-1/3 text-center mb-8 md:mb-0">
                            {% if cadastro.imagens.exists %}
                            {% with cadastro.promocoes.last as promocao %}
                                {% if promocao.posto_grad == "Cel PM" or promocao.posto_grad == "Ten Cel PM" or promocao.posto_grad == "Maj PM" or promocao.posto_grad == "CAP PM" or promocao.posto_grad == "1º Ten PM" or promocao.posto_grad == "1º Ten QAPM" or promocao.posto_grad == "2º Ten PM" or promocao.posto_grad == "2º Ten QAPM" or promocao.posto_grad == "Asp OF PM" %}
                                    <img src="{{ cadastro.imagens.last.image.url }}" alt="Profile Picture" class="rounded-full w-60 h-60 mx-auto mb-4 border-4 border-blue-500 transition-transform duration-300 hover:scale-105 object-cover">
                                {% elif promocao.posto_grad == "Subten PM" or promocao.posto_grad == "1º Sgt PM" or promocao.posto_grad == "2º Sgt PM" or promocao.posto_grad == "3º Sgt PM" %}
                                    <img src="{{ cadastro.imagens.last.image.url }}" alt="Profile Picture" class="rounded-full w-60 h-60 mx-auto mb-4 border-4 border-red-500 transition-transform duration-300 hover:scale-105 object-cover">
                                {% elif promocao.posto_grad == "Cb PM" or promocao.posto_grad == "Sd PM" or promocao.posto_grad == "Sd PM 2ºCL" %}
                                    <img src="{{ cadastro.imagens.last.image.url }}" alt="Profile Picture" class="rounded-full w-60 h-60 mx-auto mb-4 border-4 border-black transition-transform duration-300 hover:scale-105 object-cover">
                                {% else %}
                                    <img src="{{ cadastro.imagens.last.image.url }}" alt="Profile Picture" class="rounded-full w-60 h-60 mx-auto mb-4 border-4 border-indigo-800 transition-transform duration-300 hover:scale-105 object-cover">
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            Sem imagem
                        {% endif %}
                            
                            <p class="text-gray-300 "> {{ cadastro.promocoes.last.grad|safe }}</p><br>
                            <p class="text-gray-300 font-bold "> {{ cadastro.nome_de_guerra }}</p><br>
                            
                            <!-- Botão para abrir o modal de troca de foto --> 
                                <button type="button" class=" mt-4  text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-4 py-2 text-center me-2 mb-2" data-modal-target="#trocaFotoModal">
                                    Trocar Foto
                                </button>

                                <!-- Modal de Troca de Foto -->
                                <div id="trocaFotoModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
                                    <div class="bg-gray-600 rounded-lg shadow-lg w-full max-w-2xl">
                                        <!-- Modal header -->
                                        <div class="flex items-start justify-between p-4 bg-gray-800 rounded-t border-gray-500">
                                            <h5 class="text-xl font-semibold text-gray-300 dark:text-white" id="trocaFotoModalLabel">Trocar Foto</h5>
                                            <button type="button" class="text-gray-200 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-close="#trocaFotoModal">
                                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                                </svg>
                                            </button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="p-6 space-y-6">
                                            <form method="POST" action="{% url 'efetivo:editar_imagem' cadastro.id %}" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="mb-4">
                                                    <label for="image" class="block text-sm text-gray-400">Envie a nova foto para o perfil</label>
                                                    <br><br>
                                                    <img id="preview" src="#" alt="Pré-visualização da imagem" class="hidden max-w-xs">
                                                    <br><br>
                                                    <input class="block w-full text-sm text-gray-900 rounded-lg cursor-pointer bg-gray-200 focus:outline-none" name="image" type="file" id="image" accept="image/*" onchange="previewImage(event)">
                                                    <div class="mt-1 text-sm text-gray-400">Por favor, envie uma imagem de perfil.</div>
                                                </div>
                                                <div class="flex items-center justify-end space-x-4">
                                                    <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" data-modal-close="#trocaFotoModal">Cancelar</button>
                                                    <button type="submit" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Salvar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    function previewImage(event) {
                                        const reader = new FileReader();
                                        reader.onload = function() {
                                            const preview = document.getElementById('preview');
                                            preview.src = reader.result;
                                            preview.classList.remove('hidden');
                                        }
                                        reader.readAsDataURL(event.target.files[0]);
                                    }

                                    document.addEventListener('DOMContentLoaded', () => {
                                        const openModalButtons = document.querySelectorAll('[data-modal-target]');
                                        const closeModalButtons = document.querySelectorAll('[data-modal-close]');

                                        openModalButtons.forEach(button => {
                                            button.addEventListener('click', () => {
                                                const modal = document.querySelector(button.dataset.modalTarget);
                                                openModal(modal);
                                            });
                                        });

                                        closeModalButtons.forEach(button => {
                                            button.addEventListener('click', () => {
                                                const modal = button.closest('.fixed');
                                                closeModal(modal);
                                            });
                                        });

                                        function openModal(modal) {
                                            if (modal == null) return;
                                            modal.classList.remove('hidden');
                                        }

                                        function closeModal(modal) {
                                            if (modal == null) return;
                                            modal.classList.add('hidden');
                                        }
                                    });
                                </script>
                                            
                     
                        </div>
                        <div class="md:w-2/3 md:pl-8">
                            <h1 class="text-3xl font-semibold text-gray-300 mb-4">{{ cadastro.nome}}</h1>
                            <h4 class="text-1xl text-gray-500 mb-4" ><b>RE:</b> <span>{{ cadastro.re }}-{{ cadastro.dig }}</span></h4>
                            <br>
                            <h2 class="text-xl font-semibold text-gray-300 mb-4">Principais Cursos</h2>
                            <div class="flex flex-wrap gap-2 mb-6">
                                <span class="bg-indigo-700 text-purple-200 px-3 py-1 rounded-full text-sm">CSalt</span>
                                <span class="bg-indigo-700 text-purple-200 px-3 py-1 rounded-full text-sm">Terrestre</span>
                                <span class="bg-indigo-700 text-purple-200 px-3 py-1 rounded-full text-sm">Mergulho</span>
                                <span class="bg-indigo-700 text-purple-200 px-3 py-1 rounded-full text-sm">OVB</span>
                                <span class="bg-indigo-700 text-purple-200 px-3 py-1 rounded-full text-sm">Incêndio</span>
                            </div>
                            <h2 class="text-xl font-semibold text-gray-300 mb-4">Informações de Contato</h2>
                            <ul class="space-y-2 text-gray-500 ">
                                <li class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-indigo-800 " viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                                    </svg>
                                    {{ cadastro.email }}    </li>
                                <li class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-indigo-800" viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                                    </svg>
                                    {{ cadastro.telefone }}
                                </li>
                                <li class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-indigo-800 dark:text-blue-900" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                                    </svg>
                                    {{ cadastro.detalhes_situacao.last.sgb }}-     {{ cadastro.detalhes_situacao.last.posto_secao }}

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

        </fieldset>     
      
        <fieldset class=" p-2 mb-8 rounded-md rounded-[10px]">
            <div class="flex flex-col h-auto rounded-[10px]">
                <div class=" bg-gray-200 rounded-xl shadow-2xl  w-full p-8 transition-all duration-300 animate-fade-in">
                    <div class="flex flex-wrap tracking-wide">
                        <div id="02" class="w-full lg:w-1/2 p-4 leading-relaxed space-y-4">
                            <h2 class="text-xl font-semibold text-indigo-800mb-4">Situação Funcional</h2>
                            <a href="{% url 'efetivo:historico_movimentacoes' cadastro.id %}" class="text-[11px] text-gray-500 hover:text-purple-800 hover:text-[15px] transition duration-300">
                                Histórico de Movimentações e Promoções
                            </a><hr class="my-4 border-b-1 border-gray-500">
                            <h4 class="text-1xl text-gray-700 mb-4"><b>Situação:</b> <span>{{ cadastro.detalhes_situacao.last.status }}</span></h4>
                            <h4 class="text-1xl text-gray-700 mb-4"><b>Status:</b> <span>{{ cadastro.detalhes_situacao.last.status_cat }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Sgb:</b> <span>{{ cadastro.detalhes_situacao.last.sgb }}</span></h4>
                            <h4 class="text-1xl text-gray-700 mb-4"><b>Posto ou Seção:</b> <span>{{ cadastro.detalhes_situacao.last.posto_secao }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Adido ao:</b> <span>{{ cadastro.detalhes_situacao.last.esta_adido }}</span></h4>
                            <h4 class="text-1xl text-gray-700 mb-4"><b>Função:</b> <span>{{ cadastro.detalhes_situacao.last.funcao }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Operacional ou Adm:</b> <span>{{ cadastro.detalhes_situacao.last.op_adm }}</span></h4>
          
                        </div>
                        <div id="03" class="w-full lg:w-1/2 p-4 leading-relaxed space-y-4">
                            <h2 class="text-xl font-semibold text-indigo-800mb-4">Documentos e Contatos</h2>
                            <hr class="my-4 border-b-1 border-gray-500">
                        
                            
                            <hr class="my-4">
                            <h4 class="text-1xl text-gray-700  mb-4"><b>CPF:</b> <span>{{ cadastro.cpf }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>RG:</b> <span>{{ cadastro.rg }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Email:</b> <span>{{ cadastro.email }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Telefone:</b> <span>{{ cadastro.telefone }}</span></h4><br>
                            <br><br>

             
                        </div>
                    </div>
                </div>

        </fieldset>  
        
        <fieldset class=" p-2 mb-8 rounded-md rounded-[10px]">
            <div class="flex flex-col h-auto rounded-[10px]">
                <div class=" bg-gray-200 rounded-xl shadow-2xl  w-full p-8 transition-all duration-300 animate-fade-in">
                    <div class="flex flex-wrap tracking-wide">
                        <div id="02" class="w-full lg:w-1/2 p-4 leading-relaxed space-y-4">
                            <h2 class="text-xl font-semibold text-indigo-800mb-4">Datas</h2>
                            <hr class="my-4 border-b-1 border-gray-500">
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Nascimento:</b> <span>{{ cadastro.nasc|date:"d/m/Y" }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Matrícula:</b> <span>{{ cadastro.matricula|date:"d/m/Y" }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Admissão:</b> <span>{{ cadastro.admissao|date:"d/m/Y" }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Apresentação na Unidade:</b> <span>{{ cadastro.detalhes_situacao.last.apresentacao_na_unidade|date:"d/m/Y" }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Saída da Unidade:</b> <span>{{ cadastro.detalhes_situacao.last.saida_da_unidade|date:"d/m/Y" }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Previsão de Inatividade:</b> <span>{{ cadastro.previsao_de_inatividade|date:"d/m/Y" }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Última Promoção:</b> <span>{{ promocao.ultima_promocao|date:"d/m/Y" }}</span></h4>
                        </div>
                        <div id="03" class="w-full lg:w-1/2 p-4 leading-relaxed space-y-4">
                            <h2 class="text-xl font-semibold text-indigo-800mb-4">Tempo Total </h2>
                            <hr class="my-4 border-b-1 border-gray-500">
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Idade Detalhada:</b> <span>{{ cadastro.idade_detalhada }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Tempo de Matrícula:</b> <span>{{ cadastro.matricula_detalhada }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Tempo de Admissão:</b> <span>{{ cadastro.admissao_detalhada }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Inativa em:</b> <span>{{ cadastro.previsao_de_inatividade_detalhada }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Tempo no Cargo Atual:</b> <span>{{ promocao.ultima_promocao_detalhada }}</span></h4>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset> 
      
        <fieldset class=" p-2 mb-8 rounded-md rounded-[10px]">
            <div class="flex flex-col h-auto rounded-[10px]">
                <div class=" bg-gray-200 rounded-xl shadow-2xl  w-full p-8 transition-all duration-300 animate-fade-in">
                    <div id="02" class="w-full lg:w-1/2 p-4 leading-relaxed space-y-4">
                        <h2 class="text-xl font-semibold text-indigo-800mb-4">Benefícios de Tempo de Serviço</h2>
                        <a href="{% url 'efetivo:historico_movimentacoes' cadastro.id %}" class="text-[11px] text-gray-500 hover:text-purple-800 hover:text-[15px] transition duration-300">
                            Histórico de Adicional e LP
                        </a>
                    </div>
                    <br>
                    <div class="flex flex-wrap tracking-wide">
                        <div id="02" class="w-full lg:w-1/2 p-4 leading-relaxed space-y-4">
                            <h3 class="text-xl font-semibold text-indigo-800mb-4">Adicional de Tempo de Serviço</h3>
                            <hr class="my-4 border-b-1 border-gray-500">
                          
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Bloco Atual:</b> <span>{{  cadastro.cadastro_adicional.numero_adicional }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Concessão do Bloco Atual:</b> <span>{{ cadastro.cadastro_adicional.data_ultimo_adicional }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Próximo Bloco:</b> <span>{{  cadastro.cadastro_adicional.numero_prox_adicional }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Previsão próximo bloco:</b> <span>{{  cadastro.cadastro_adicional.proximo_adicional }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Status:</b> <span>{{  cadastro.cadastro_adicional.status_adicional  }}</span></h4>

                        </div>
                        <div id="03" class="w-full lg:w-1/2 p-4 leading-relaxed space-y-4">
                           
                            <h3 class="text-xl font-semibold text-indigo-800mb-4">Licença-Prêmio</h3>
                            <hr class="my-4 border-b-1 border-gray-500">
                                                
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Bloco Atual:</b> <span>{{  cadastro.cadastro_adicional.numero_lp }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Concessão do Bloco Atual:</b> <span>{{ cadastro.cadastro_adicional.data_ultimo_lp }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Próximo Bloco:</b> <span>{{  cadastro.cadastro_adicional.numero_prox_lp }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Previsão próximo bloco:</b> <span>{{  cadastro.cadastro_adicional.proximo_lp }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Status:</b> <span>{{  cadastro.cadastro_adicional.status_lp }}</span></h4>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset> 
  
        <fieldset class=" p-2 mb-8 rounded-md rounded-[10px]">
            <div class="flex flex-col h-auto rounded-[10px]">
                <div class=" bg-gray-200 rounded-xl shadow-2xl  w-full p-8 transition-all duration-300 animate-fade-in">
                    <div class="flex flex-wrap tracking-wide">
                        <div id="02" class="w-full lg:w-1/2 p-4 leading-relaxed space-y-4">
                            <h2 class="text-xl font-semibold text-indigo-800mb-4">Direitos</h2>
                            <hr class="my-4 border-b-1 border-gray-500">
                            <h3 class="text-xl font-semibold text-indigo-800mb-4">Adicional</h3>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Nascimento:</b> <span>{{ cadastro.nasc|date:"d/m/Y" }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Matrícula:</b> <span>{{ cadastro.matricula|date:"d/m/Y" }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Admissão:</b> <span>{{ cadastro.admissao|date:"d/m/Y" }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Apresentação na Unidade:</b> <span>{{ cadastro.detalhes_situacao.last.apresentacao_na_unidade|date:"d/m/Y" }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Saída da Unidade:</b> <span>{{ cadastro.detalhes_situacao.last.saida_da_unidade|date:"d/m/Y" }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Previsão de Inatividade:</b> <span>{{ cadastro.previsao_de_inatividade|date:"d/m/Y" }}</span></h4>
                            <h4 class="text-1xl text-gray-700  mb-4"><b>Última Promoção:</b> <span>{{ promocao.ultima_promocao|date:"d/m/Y" }}</span></h4>
                        </div>
                        <div id="03" class="w-full lg:w-1/2 p-4 leading-relaxed space-y-4">
                            <h2 class="text-xl font-semibold text-indigo-800mb-4">Rpt-Interno </h2>
                            <a href="{% url 'efetivo:historico_movimentacoes' cadastro.id %}" class="text-[11px] text-gray-500 hover:text-purple-800 hover:text-[15px] transition duration-300">
                                Histórico de Inclusões no RPT
                            </a>
                            <hr class="my-4 border-b-1 border-gray-500">
                            <h4 class="text-1xl text-gray-700 mb-4"><b>Status:</b> <span>{{ cadastro_rpt.pedido_status }}</span></h4>
                            <h4 class="text-1xl text-gray-700 mb-4"><b>Data do Pedido:</b> <span>{{ cadastro_rpt.data_pedido|date:"d/m/Y" }}</span></h4>
                            <h4 class="text-1xl text-gray-700 mb-4"><b>Espera:</b> <span>{{ cadastro_rpt.status_badge }}</span></h4>
                            <h4 class="text-1xl text-gray-700 mb-4"><b>SGB:</b> <span>{{ cadastro_rpt.sgb_destino }}</span></h4>
                            <h4 class="text-1xl text-gray-700 mb-4"><b>Posto ou Seção:</b> <span>{{ cadastro_rpt.posto_secao_destino }}</span></h4>
                            <h4 class="text-1xl text-gray-700 mb-4"><b>Tempo de Espera:</b> <span>{{ cadastro_rpt.tempo_pedido_detalhada }}</span></h4>
                            <h4 class="text-1xl text-gray-700 mb-4"><b>Documento:</b> <span>{{ cadastro_rpt.doc_solicitacao }}</span></h4>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    
        <fieldset class="border bg-gray-800 border-gray-800 p-2 mb-8 rounded-md">
            <legend></legend>
            <div id="01" class="flex flex-wrap">
                <div class="w-full bg-lightblue p-4 rounded-md">
                    <div class="flex flex-wrap">
                        <div class="w-full md:w-1/2">
                            <div class="container1">
                                <div class="flex justify-start">
                                    <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" data-modal-target="#exampleModal">Excluir</button>
                                </div>
                                <div id="exampleModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
                                    <div class="bg-gray-600 rounded-lg shadow-lg w-full max-w-md">
                                        <div class="flex justify-between items-center p-4 bg-gray-800">
                                            <h1 class="text-xl text-gray-200 font-medium">Excluir</h1>
                                            <button type="button" class="text-gray-500 hover:text-gray-700" data-modal-close="#exampleModal">&times;</button>
                                        </div>
                                        <br>
                                    
                                        <div class="p-4 text-gray-400">
                                            <p>Você tem certeza que deseja excluir o cadastro?</p>
                                            <br>
                                            <br>
                                            <label for="password" class="block text-sm font-medium text-gray-400">Senha:</label>
                                            <input type="password" id="password" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                        </div>
                                        <div class="flex justify-end space-x-2 p-4">
                                            <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" data-modal-close="#exampleModal">Voltar</button>
                                            <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" onclick="validatePassword()">Excluir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-full md:w-1/2 text-right">
                            <div class="container1">
                                <div class="flex justify-end">
                                    <a href="{% url 'efetivo:listar_militar' %}"  class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Voltar</a>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
     </fieldset>
        <script>
            function validatePassword() {
                const password = document.getElementById('password').value;
                const correctPassword = 'suaSenhaAqui'; // Substitua por sua lógica de verificação de senha
        
                if (password === correctPassword) {
                    window.location.href = "{% url 'efetivo:excluir_militar' cadastro.id %}";
                } else {
                    alert('Senha incorreta. Tente novamente.');
                }
            }
        
            document.querySelectorAll('[data-modal-target]').forEach(button => {
                button.addEventListener('click', () => {
                    const modal = document.querySelector(button.getAttribute('data-modal-target'));
                    modal.classList.remove('hidden');
                });
            });
        
            document.querySelectorAll('[data-modal-close]').forEach(button => {
                button.addEventListener('click', () => {
                    const modal = document.querySelector(button.getAttribute('data-modal-close'));
                    modal.classList.add('hidden');
                });
            });
        </script>
        
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const openModalButtons = document.querySelectorAll('[data-modal-target]');
                const closeModalButtons = document.querySelectorAll('[data-modal-close]');
    
                openModalButtons.forEach(button => {
                    button.addEventListener('click', () => {
                        const modal = document.querySelector(button.dataset.modalTarget);
                        openModal(modal);
                    });
                });
    
                closeModalButtons.forEach(button => {
                    button.addEventListener('click', () => {
                        const modal = button.closest('.fixed');
                        closeModal(modal);
                    });
                });
    
                function openModal(modal) {
                    if (modal == null) return;
                    modal.classList.remove('hidden');
                }
    
                function closeModal(modal) {
                    if (modal == null) return;
                    modal.classList.add('hidden');
                }
            });
        </script>
        <script>
        document.addEventListener('DOMContentLoaded', () => {
            const openModalButtons = document.querySelectorAll('[data-modal-target]');
            const closeModalButtons = document.querySelectorAll('[data-modal-close]');
    
            openModalButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modal = document.querySelector(button.dataset.modalTarget);
                    openModal(modal);
                });
            });
    
            closeModalButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modal = button.closest('.fixed');
                    closeModal(modal);
                });
            });
    
            function openModal(modal) {
                if (modal == null) return;
                modal.classList.remove('hidden');
            }
    
            function closeModal(modal) {
                if (modal == null) return;
                modal.classList.add('hidden');
            }
        });
        </script>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const openModalButtons = document.querySelectorAll('[data-modal-target]');
            const closeModalButtons = document.querySelectorAll('[data-modal-close]');
            
            openModalButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modal = document.querySelector(button.dataset.modalTarget);
                    openModal(modal);
                });
            });
            
            closeModalButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modal = button.closest('.fixed');
                    closeModal(modal);
                });
            });
            
            function openModal(modal) {
                if (modal == null) return;
                modal.classList.remove('hidden');
            }
            
            function closeModal(modal) {
                if (modal == null) return;
                modal.classList.add('hidden');
            }
            
            const editSituacaoForm = document.getElementById('editSituacaoForm');
            editSituacaoForm.addEventListener('submit', (event) => {
                event.preventDefault();
                const formData = new FormData(editSituacaoForm);
                fetch(editSituacaoForm.action, {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const choiceModal = document.getElementById('choiceModal');
                        openModal(choiceModal);
                    } else {
                        alert('Erro ao salvar a situação atual.');
                    }
                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert('Erro ao salvar a situação atual.');
                });
            });
            
            const newSituacaoForm = document.getElementById('newSituacaoForm');
            newSituacaoForm.addEventListener('submit', (event) => {
                event.preventDefault();
                newSituacaoForm.submit();
            });
        });
        </script>
        
<script src="{% static 'efetivo/js/ver_militar.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>

{% endblock  %}