{% extends 'base.html' %}
{% load static %}
{% block title %}Editar Documento{% endblock %}




{% block 'body' %}
    <br>
    <div class="md:items-center md:justify-between rounded-lg mt-4 w-full" id="editar_documento">
        <fieldset class="p-4 mb-8 rounded-md w-full" id="second-fieldset">
            <fieldset class="bg-gray-800 p-4 mb-8 rounded-md">
                <div id="01" class="mb-4">
                    <div class="bg-gray-800 p-4 rounded-md">
                        <div class="flex flex-wrap items-center justify-between py-3">
                            <div class="w-full md:w-9/12">
                                <h1 class="text-3xl text-gray-200" >Editar Documento</h1>
                            </div>
                            <div class="w-full md:w-3/12 text-right">
                                <button type="reset" form="editarDocumentoForm" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Limpar</button>
                                <a href="{% url 'documentos:listar_documentos' %}" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <legend>
                {% if messages %}
                {% for message in messages %}
                    <section class="alert {{ message.tags }} p-4 mb-4 rounded-md">
                        {{ message }}
                    </section>
                {% endfor %}
                {% endif %}
            </legend>

            <fieldset class="bg-gray-200 p-6 rounded-md">
                <form id="editarDocumentoForm" method="post" enctype="multipart/form-data" 
                action="{% url 'documentos:editar_documento' documento.pk %}">
              {% csrf_token %}
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <div class="mb-4">
                            <label for="data_publicacao" class="block text-sm font-medium text-gray-700">Data de Publicação</label>
                            <input type="date" name="data_publicacao" id="data_publicacao" value="{{ documento.data_publicacao|date:'Y-m-d' }}" class="bg-gray-300 border border-gray-200 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        </div>
                        <div class="mb-4">
                            <label for="data_documento" class="block text-sm font-medium text-gray-700">Data do Documento</label>
                            <input type="date" name="data_documento" id="data_documento" value="{{ documento.data_documento|date:'Y-m-d' }}" class="bg-gray-300 border border-gray-200 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        </div>
                        <div class="mb-4">
                            <label for="numero_documento" class="block text-sm font-medium text-gray-700">Número do Documento</label>
                            <input type="text" name="numero_documento" id="numero_documento" value="{{ documento.numero_documento }}" class="bg-gray-300 border border-gray-200 text-gray-700  text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        </div>
                        <div class="mb-4">
                            <label for="assunto" class="block text-sm font-medium text-gray-700">Assunto</label>
                            <input type="text" name="assunto" id="assunto" value="{{ documento.assunto }}" class="bg-gray-300 border border-gray-200 text-gray-700  text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        </div>
                        <div class="mb-4">
                            <label for="assinada_por" class="block text-sm font-medium text-gray-700">Assinada por</label>
                            <input type="text" name="assinada_por" id="assinada_por" value="{{ documento.assinada_por }}" class="bg-gray-300 border border-gray-200 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        </div>
                        <div class="mb-4">
                            <label for="tipo" class="block text-sm font-medium text-gray-700">Tipo</label>
                            <select name="tipo" id="tipo" class="bg-gray-300 border border-gray-200 text-gray-700  text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                {% for tipo, tipo_label in documento.TIPO_CHOICES %}
                                <option value="{{ tipo }}" {% if documento.tipo == tipo %}selected{% endif %}>{{ tipo_label }}</option>
                                {% endfor %}
                            </select>
                        </div>
            </fieldset>
            <fieldset class="bg-gray-200 p-6 mt-4 mb-6 rounded-md">
                        <div class="mb-4">
                            <label for="descricao" class="block text-sm font-medium text-gray-700">Descrição</label>
                            <textarea name="descricao" id="descricao" class="bg-gray-300 border border-gray-200 text-gray-700  text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">{{ documento.descricao }}</textarea>
                        </div>
                    
            </fieldset>
       
        <fieldset class="border bg-gray-200 border-gray-300 p-4 mb-8 rounded-md">
            <div id="01" class="flex flex-wrap">
                    <div class="w-full bg-lightblue p-4 rounded-md">
                    <div class="flex flex-wrap">
                        <div class="w-full md:w-1/2">
                        <div class="container1">
                            <div class="flex justify-start">
                                <button type="submit" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Salvar</button>
                            </div>
                        </div>
                        </div>         
                        <div class="w-full md:w-1/2 text-right rounded-md">
                        <div class="container1">
                            <div class="flex justify-end">
                            <a href="{% url 'documentos:listar_documentos' %}" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Voltar</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
        </fieldset>
    
    </form>
</fieldset>    
</div>

{% endblock %}