{% extends "base.html" %}
{% load static %}
{% block title %} Lista de Documentos {% endblock %}

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>


{% block 'body' %}

<body>
    <br>
    <div class="md:items-center md:justify-between rounded-lg mt-4 w-full" id="lista_documentos">
        <fieldset class="p-4 mb-8 rounded-md w-full" id="second-fieldset">
            <fieldset class="bg-gray-800 p-4 mb-8 rounded-md w-full" id="first-fieldset">
                <div id="01" class="mb-4">
                    <div class="bg-gray-800 p-4 rounded-md">
                        <div class="flex flex-wrap items-center justify-between py-3">
                            <div class="col-12 md:w-auto">
                                <h1 class="text-3xl text-gray-200">Relação de Documentos</h1>
                                <p class="text-gray-400">Consulte abaixo a relação de documentos.</p>
                            </div>
                            <div class="w-full md:w-auto text-right">
                                <a href="{% url 'documentos:criar_documento' %}" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Criar Documento</a>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="bg-gray-100 mb-8 rounded-md w-full overflow-x-auto" id="first-fieldset">
                <legend class="mb-8 rounded-md w-full">
                    {% if messages %}
                        {% for message in messages %}
                            <section class="alert {{ message.tags }}">
                                {{ message }}
                            </section>
                        {% endfor %}
                    {% endif %}
                </legend>
                <div class="flex items-center p-4 bg-gray-700 space w-full md:w-auto">
                    <div class="container" id="filtros">

                          <div class="flex flex-wrap mb-3">
                              <!-- Form único envolvendo todos os filtros -->
                              <form method="get" class="w-full flex flex-wrap"> 
                                  <!-- Data Início -->
                                  <div class="w-full md:w-1/4 px-2 mb-4 md:mb-0">
                                      <label for="data_inicio" class="block mb-2 text-sm font-medium text-gray-400 dark:text-white">Data Início</label>
                                      <input type="date" name="data_inicio" id="data_inicio" value="{{ data_inicio|default:'' }}" class="bg-gray-50 border border-gray-300 text-gray-600 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                  </div>
                          
                                  <!-- Data Fim -->
                                  <div class="w-full md:w-1/4 px-2 mb-4 md:mb-0">
                                      <label for="data_fim" class="block mb-2 text-sm font-medium text-gray-400 dark:text-white">Data Fim</label>
                                      <input type="date" name="data_fim" id="data_fim" value="{{ data_fim|default:'' }}" class="bg-gray-50 border border-gray-300 text-gray-600 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                  </div>
                          
                                  <!-- Tipo -->
                                  <div class="w-full md:w-1/4 px-2 mb-4 md:mb-0">
                                      <label for="tipo" class="block mb-2 text-sm font-medium text-gray-400 dark:text-white">Tipo</label>
                                      <select name="tipo" id="tipo" class="bg-gray-50 border border-gray-300 text-gray-600 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                          <option value="">Todos</option>
                                          {% for tipo, tipo_label in tipos %}
                                              <option value="{{ tipo }}" {% if tipo == tipo_selecionado %}selected{% endif %}>{{ tipo_label }}</option>
                                          {% endfor %}
                                      </select>
                                  </div>
                          
                                  <!-- Botões (Dentro do Form) -->
                                  <div class="w-full md:w-1/4 px-2 mb-4 md:mb-0 flex items-end">
                                      <button type="submit" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Filtrar</button>
                                      <a href="{% url 'documentos:listar_documentos' %}" id="clearFilters" class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Limpar</a>
                                  </div>
                              </form>
                          </div>
                          
                          <!-- ... restante do código ... -->
                    </div>
                    <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                        <button type="button" class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                            <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                            </svg>
                            Export
                        </button>
                    </div>
                </div>
                <table id="example" class="w-full text-gray-700 bg-white">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="p-4 text-center align-middle">
                                <div class="flex items-center justify-center">
                                    <input id="checkbox-all" type="checkbox" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500">
                                    <label for="checkbox-all" class="sr-only">checkbox</label>
                                </div>
                            </th>
                            <th class="px-4 py-3 text-center align-middle">Documento</th>
                            <th class="px-4 py-3 text-center align-middle">Assunto</th>
                            <th class="px-4 py-3 text-center align-middle">Data Criação</th>
                            <th class="px-4 py-3 text-center align-middle">Tipo</th>
                            <th class="px-4 py-3 text-center align-middle">Assinada por</th>
                            <th class="px-4 py-3 text-center align-middle">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for documento in documentos %}
                        <tr class="hover:bg-gray-50">
                            <td class="p-4 text-center align-middle">
                                <div class="flex items-center justify-center">
                                    <input id="checkbox-table-search-{{ documento.pk }}" type="checkbox" onclick="event.stopPropagation()" 
                                           class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500">
                                    <label for="checkbox-table-search-{{ documento.pk }}" class="sr-only">checkbox</label>
                                </div>
                            </td>
                                                        
                                                        <!-- Modal -->
                            <div id="documentModal" class="hidden fixed z-10 inset-0 overflow-y-auto">
                                <div class="flex items-center justify-center min-h-screen">
                                <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all max-w-lg w-full">
                                    <div class="bg-gray-700 p-4">
                                    <p class="text-gray-100" id="modalNumeroDocumento"></p>
                                    <h2 class="text-xl font-semibold text-gray-100" id="modalAssunto"></h2>
                                   
                                
                                </div>
                                    <div class="p-4 text-gray-300 bg-gray-600">
                                    <p class="mb-4"    id="modalDescricao"></p>
                                    <p class="text-gray-300" id="modalAssinadaPor"></p>
                                    <p class="text-gray-300" id="modalAnexosInfo"></p>
                                    </div>
                                </div>
                                </div>
                            </div>
                            
                            <!-- Link com eventos de hover -->
                            <td class="p-4 flex items-center whitespace-nowrap space-x-6 mr-12 lg:mr-0">
                                <div class="text-sm font-normal text-gray-500">
                                <div class="text-base font-semibold text-gray-900">
                                    <a href="#" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg" 
                                    onmouseover="showModal('{{ documento.numero_documento|escapejs }}', '{{ documento.assunto|escapejs }}', '{{ documento.descricao|slice:":150"|escapejs }}...', '{{ documento.assinada_por|escapejs }}', '{{ documento.anexos_info|escapejs }}')"
                                    onmouseout="hideModal()">
                                    {{ documento.numero_documento }}
                                    </a>
                                </div>
                                <div class="text-sm font-normal text-gray-500">{{ documento.data_documento|date:"d/m/Y " }}</div>
                                </div>
                            </td>

                            <script>
                                function showModal(numeroDocumento, assunto, descricao, assinadaPor, anexosInfo) {
                                document.getElementById('modalNumeroDocumento').innerText = numeroDocumento;
                                document.getElementById('modalAssunto').innerText = assunto;
                                document.getElementById('modalDescricao').innerText = descricao;
                                document.getElementById('modalAssinadaPor').innerText = assinadaPor;
                                document.getElementById('modalAnexosInfo').innerText = anexosInfo;
                                document.getElementById('documentModal').classList.remove('hidden');
                                }
                            
                                function hideModal() {
                                document.getElementById('documentModal').classList.add('hidden');
                                }
                            </script>
                            <td class="px-4 py-3 text-center align-middle">{{ documento.assunto }}</td>
                            <td class="px-4 py-3 text-center align-middle">{{ documento.data_criacao|date:"d/m/Y H:i:s" }}</td>
                            <td class="px-4 py-3 text-center align-middle">{{ documento.tipo_badge }}</td>
                            <td class="px-4 py-3 text-center align-middle">{{ documento.assinada_por }}</td>
                            
                            <td class="px-4 py-3 text-center align-middle">
                                <a href="{% url 'documentos:detalhe_documento' documento.pk %}" 
                                   class="inline-flex items-center justify-center text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 font-medium rounded-lg text-sm px-3 py-2">
                                  Ver
                                </a>
                              </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="flex justify-end  mx-4">
                    <button id="printButton" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Imprimir</button>
                </div>
            </fieldset>
           <script>
                const dataTable = new simpleDatatables.DataTable("#example");
            </script>
            <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const dataTable = new simpleDatatables.DataTable("#example", {
                        labels: {
                            placeholder: "Pesquisar...",
                            perPage: "{select} resultados por página",
                            noRows: "Nenhum registro encontrado",
                            info: "Mostrando {start} até {end} de {rows} registros",
                            noResults: "Nenhum resultado encontrado",
                            loading: "Carregando...",
                            infoFiltered: " (filtrado de {rowsTotal} registros)",
                            previous: "Anterior",
                            next: "Próximo",
                            first: "Primeiro",
                            last: "Último"
                        }
                    });
                });
            </script>
        </fieldset>
    </div>
</body>


</html>
{% endblock %}
