<!-- accounts/user_action_history.html -->
{% extends "base_login.html" %}
{% load static %}
{% block 'title' %} Consultar Efetivo{% endblock %}


{% block content%}


<body>


<link href="{% static 'tailwind.min.css' %}" rel="stylesheet">
<link href="{% static 'flowbite.min.css' %}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet">


<body>

    <div class="container mx-auto p-2 mt-8" id="cad_efetivo">
        <fieldset class="  bg-gray-700  p-4 mb-8 rounded-md">
            <div id="01" class="mb-4">
                <div class="bg-gray-700 p-4 rounded-md">
                    <div class="flex flex-wrap items-center justify-between py-3">
                        <div class="col-12 md:w-auto">
                            <h3 class="text-2xl font-semibold text-gray-300">Histórico de Ações no Sistema

                            </h3>
                        </div>  
                        <div class="w-full md:w-auto text-right">
                        
                            <a href="{% url 'user_detail' user.pk %}"   class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Voltar</a>
                        </div>
                    </div>
                </div>
                <legend>
                    {% if messages %}
                    {% for message in messages %}
                        <section class="alert {{ message.tags }} p-4 mb-4 rounded-md">
                            {{ message }}
                        </section>
                    {% endfor %}
                    {% endif %}
                </legend>
            </div>
        </fieldset>

        <div class="w-full space-y-4">
                
            <fieldset class="w-full bg-gray-200 p-4 rounded-lg">
                <div class="row">
                    <div class="col-12">
                   </div>  
                    <div class="container mx-auto" id="table">
                        <div class="overflow-x-auto">
                            <table id="table1" class="min-w-full bg-white border border-gray-200">
                                <thead>
                                    <tr>
                                        <th class="px-4 text-gray-700 py-2">Ação</th>
                                        <th class="px-4 text-gray-700 py-2">Data </th>
                                        <th class="px-4 text-gray-700 py-2">IP</th>
                                        <th class="px-4 text-gray-700 py-2">Nome do PC</th>
                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for log in action_logs %}
                                    <tr>
                                      
                                        <td class="border text-gray-700 px-4 py-2">{{ log.action }}</td>
                                        <td class="border text-gray-700 px-4 py-2">{{ log.timestamp|date:"d/m/Y H:i:s" }}</td>
                                        <td class="border text-gray-700 px-4 py-2">{{ log.ip_address }}</td>
                                        <td class="border text-gray-700 px-4 py-2">{{ log.computer_name}}</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </fieldset>
          
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
<script>
    const dataTable = new simpleDatatables.DataTable("#example");
</script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dataTable1 = new simpleDatatables.DataTable("#table1", {
            labels: {
                placeholder: "Pesquisar...",
                perPage: "{select} resultados por página",
                noRows: "Nenhum registro encontrado",
                info: "Mostrando {start} até {end} de {rows} registros",
                noResults: "Nenhum resultado encontrado",
                loading: "Carregando...",
                infoFiltered: " (filtrado de {rowsTotal} registros)",
                previous: "Anterior",
                next: "Próximo",
                first: "Primeiro",
                last: "Último"
            }
        });
        const dataTable2 = new simpleDatatables.DataTable("#table2", {
            labels: {
                placeholder: "Pesquisar...",
                perPage: "{select} resultados por página",
                noRows: "Nenhum registro encontrado",
                info: "Mostrando {start} até {end} de {rows} registros",
                noResults: "Nenhum resultado encontrado",
                loading: "Carregando...",
                infoFiltered: " (filtrado de {rowsTotal} registros)",
                previous: "Anterior",
                next: "Próximo",
                first: "Primeiro",
                last: "Último"
            }
        });
    });
</script>

  <script>
    const targetEl = document.getElementById('delete-user-modal')
    const modal = new Modal(targetEl)

    openModal = () => {
      modal.show()
    }
    closeModal = () => {
      modal.hide()
    }
  </script>
{% endblock js %}
</main>{% endblock %}





